.search-bar {
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 50rem;
  display: flex;
  justify-content: center;


  &__input {
    background-color: $color-white;
    border: none;
    border-radius: 1.5rem;
    color: $color-black;
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    padding: 1rem 3rem 1rem 1rem;
    font-size: 2.4rem;
    width: 100%;
    max-width: 30rem;
    transition: max-width .3s ease-in;

    &:focus {
      max-width: 32rem;
    }

    @include respond(tablet-landscape) {
      max-width: 45rem;

      &:focus {
        max-width: 50rem;
      }
    }
  }

  &__button {
    background-color: transparent;
    position: absolute;
    right: 4rem;
    top: 1.2rem;
    border: 0;
  }
}
