$color-black: #000;
$color-white: #fff;
$color-light: #eee;
$color-link: #8a2be2;

$primary: #eb2r64;
$primary-light: #ff3366;
$primary-dark: #ba265d;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #ccc;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;
